.titleWrapper {
    padding: 1rem 0;
}

.formWrapper {
    margin-top: 2rem;
    padding-right: 2rem;
}

.formField {
    width: 100%;
    margin-bottom: 1rem;
}

.hashtagField {
    margin: 2rem 0;
}