.main {
  margin-top: 24px;
}

.contentWrapper {
  // padding-top: 35px;Fs
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.grid {
  overflow: hidden;
  display: flex;
}

.container {
  position: relative;
  z-index: 2;
}

.contentWrapper {
  height: 100%;
  width: 100%;
}
