.panel {
    background-color: var(--rs-bg-card);
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1rem;
    font-weight: 400;
}

.formWrapper {
    margin-top: 2rem;
}

.formField {
    width: 100%;
    margin-bottom: 1rem;
}

.hashtagField {
    margin: 2rem 0;
}

.actionPanel {
    display: flex;
}

.actionWrapper {
    &:not(:last-child) {
        margin-right: 0.5rem;
    }
}