.main {
  display: grid;
  padding: 24px 36px;
  grid-template-columns: 185px 1fr;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: var(--rs-gray-900);
}

.menuIcon {
  margin-left: 12px;
}

.content {
  padding: 0 38px;
}
