.container {
    position: relative;
}

.resizbleContainer {
    position: relative;
    background: #fff;
    border: 2px solid rgba(0,0,0,0.1);
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    & div:first-child {
        padding: 0;
        margin: 0;
    }
}

.actions {
    display: flex;
    margin-left: auto;
    justify-content: end;
    margin-right: 12px;
}

.actionWrapper {
    margin: 0 4px;
}

.tabs {
    border: 2px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.creatingCloud {
    position: relative;
    z-index: 2;
    margin-left: 1rem !important;
    padding: 0;
}

.creatingWrapper {
    margin-bottom: 2rem;
    width: 350px;
    min-height: 400px;
}

.datePicker {
    width: 100%;
}
