.container {
    position: relative;
}

.resizbleContainer {
    position: relative;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    
    [class~="rs-panel-body"] {
        height: 100%;
        padding: 0.5rem;
    }
}

.menuWrapper {
    display: flex;
    padding: 10px 0;
}

.actions {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    margin-right: 12px;
    position: relative;
    z-index: 10;
}

.actionWrapper {
    margin: 0 4px;
}

.tabs {
    padding: 10px 0 !important;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.creatingCloud {
    position: relative;
    z-index: 2;
    margin-left: 1rem !important;
    padding: 0;
}

.creatingWrapper {
    margin-bottom: 2rem;
    width: 350px;
    min-height: 400px;
}

.datePicker {
    width: 100%;
}


.contentWrapper {
    height: 100%;
}

