.contentItem {
  margin-bottom: 24px;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  //   flex-wrap: wrap;
  gap: 14px;
}

.grid {
  overflow: hidden !important;
}

.contentWrapper {
}

.card {
  width: 180px !important;
}

.addBtn {
  width: 100%;
  height: 100%;
}
