.titleWrapper {
    margin-right: 24px;;
}

.accordion {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0!important;
}

.hashTagWrapper {
    margin: 3px;
}

.dayLabel {
    display: block;
    padding: 0.5rem 1rem !important;
}