.textArea {
    width: 100%;
    min-height: 200px;
    border: 0;

    textarea {
        width: 100% !important;

        &:focus {
            outline: 0;
            border-color: #3498ff !important;
            box-shadow: 0 0 0 3px rgba(52,152,255,0.25) !important;
        }
    }
}

.inputWrapper {
    overflow: auto;
    resize: vertical;
    [class~="public-DraftEditor-content"] {
        min-height: 120px;
        overflow: auto;
    }
}
  
  .editor :global(.public-DraftEditor-content) {
    min-height: 140px;
  }

  .popup {
    border: 2px solid red;
  }