@import '../../styles/_variables';

.main {
    background: #42a5f5;
}

.navbar {
    align-items: center;
    background-color: #42a5f5 !important;
}

.title {
    color: $white;
}

.avatar {
    padding-top: 7.5px;
}