.table {
    width: 100%;
}

.tableWrapper {
    // min-height: 200px;
}

.tableCreatingMode {
    width: 57% !important;
}

.header {
    font-size: 1rem;
}

.title {
    overflow: hidden;
    font-size: 1rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.content {
    display: flex;
    justify-content: space-between;
}

.formWrapper {
    width: 40% !important;
}

.headerCell {
    [class~="rs-table-cell"] {
        transition: none !important;
    }
}

.filters {
    display: flex;
}

.filterItem {
    &:not(:last-child) {
        margin-right: 0.5rem;
    }
}

.dateBtn {
    [class~="rs-picker-toggle"] {
        border-radius: 1.115rem !important;
    }
}

.refreshBtn {
    margin-top: 1rem;
}

.notFoundWrapper {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0, 0.2);
    }
}

.messageWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.message {
    width: 50%;
}